*.*
!*.*/
autocode/
!*.wsp.xml
!*.ucs.xml
!*.lsp.xml
!*.el
!*.eds
*.mdl
!*.par.xml
!*.prop.xml
!*.cal.xml
!*.exs.xml
!*.exp
*.win64_vc2010_.exp
!*.cfg.xml
*.rpt.xml
*.rpt
*.h5
!*.txt
!*.sym
*.png
!*.pdf
!*.docx
*.html
*.bak
!*.deck*
*.deck*/
!*.m
*.mat
*.fig
*.xlsx
*.csv
!.gitignore